<nav class="sticky top-0 w-full z-50 sm:flex items-center justify-between flex-nowrap bg-gray-900 p-6">
  <div class="sm:flex items-center flex-shrink-0 text-white sm:mr-6 text-center sm:text-left mb-4 sm:mb-0">
    <a href="/" class="text-xl tracking-tight">Brooke &amp; Christopher</a>
  </div>

  <div>
    <a href="#responsive-header" class="block inline-block text-white hover:text-white mr-4">
      Wedding
    </a>
    <a href="#responsive-header" class="block inline-block text-white hover:text-white mr-4">
      Location
    </a>
    <a href="#responsive-header" class="block inline-block text-white hover:text-white mr-4">
      Gifts
    </a>
    <a href="#responsive-header" class="block inline-block text-white tracking-wide hover:bg-white hover:text-gray-900 border-2 border-white px-3 py-2">
      RSVP
    </a>
  </div>
</nav>
